{% extends 'base.html' %}

{% block content %}
<h1 class="mb-5">Add Room</h1>

<form method="POST">
  {% csrf_token %}
  <div class="row mb-3">
    <label for="room_name" class="col-sm-2 col-form-label">Room name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="room_name" name="room_name">
    </div>
  </div>
  <div class="row mb-3">
    <label for="capacity" class="col-sm-2 col-form-label">Capacity:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="capacity" name="capacity">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="projector" name="projector">
        <label class="form-check-label" for="projector">
          Projector
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add room</button>
</form>

{% endblock %}
