{% extends 'base.html' %}

{% block content %}

{% if message_success %}
<div class="alert alert-success" role="alert">
  {{ message_success}}
</div>
{% endif %}

{% if message_danger %}
<div class="alert alert-danger" role="alert">
  {{ message_danger }}
</div>
{% endif %}

<h1>Rooms</h1>
<form class="my-3" method="">
  {% csrf_token %}
  <div class="row mb-3">
    <label for="room_name" class="col-sm-2 col-form-label">Room name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="room_name" name="room_name">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search room</button>
</form>

<table class="table">
  <thead class="table table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Projector</th>
      <th scope="col">Availability</th>
      <th scope="col"></th>
      {% if user.is_authenticated %}
      <th scope="col"></th>
      <th scope="col"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr>
      <th scope="row">{{ room.pk }}</th>
      <td>{{ room.room_name }}</td>
      <td>{{ room.capacity }}</td>
      <td>{% if room.projector %}<i class="bi bi-check-circle"></i>{% endif %}</td>
      <td>
        {% if room.reserved %}
          <p>Unavailable</p>
        {% else %}
          <p>Available</p>
        {% endif %}
      </td>
      <td><a href="{% url 'room_reserve' room.id %}"><button type="button" class="btn btn-primary">Reservations</button></a></td>
      {% if user.is_authenticated %}
      <td><a href="{% url 'room_edit' room.id %}"><button type="button" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></button></a></td>
      <td><a href="{% url 'room_delete' room.id %}"><button type="button" class="btn btn-danger btn-sm">X</button></a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
